@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Michroma", sans-serif;
    font-style: normal;
    background-color:  rgba(0, 0, 0, 0.41);
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 1px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.header h2 {
  margin: 0;
  font-size: 33px;
  color: #333;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header p {
  margin: 5px 0 20px;
  font-size: 14px;
  color: #666;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

#search-input:focus {
  border-color: #007BFF;
  outline: none;
}

#submit-search {
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 0.3s ease;
}

#submit-search:hover {
  background: #0056b3;
}


#result {
  margin-top: 15px;
  font-size: 14px;
  color: #444;
}
.movie-card{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}